/* CSS Document */
.h1 {
	
	background: #595959;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-style: italic;
	color: aliceblue;
	
}
.body {
	
	background: #121212
}